/*==================================================*/
/*Mặc định*/
@font-face {
	font-family: simpleBattleHeader;
	src: url(../font/Viner_Hand_ITC.ttf);
}
@font-face {
	font-family: simpleBattleText;
	src: url(../font/MAGIMTOS.ttf);
}
* {
	color: white;
	font-family: sans-serif;
	margin: 0;
	user-select: none;
}
body {
	background-color: #262626;
}
table {
	border-spacing: 10px;
	font-size: 50px;
	text-align: center;
	width: 100%;
}
td {
	/*border: 1px solid #525252;*/
	color: black;
	font-family: simpleBattleText;
	height: 3em;
	width: 33.3%;
}
/*Custom Scrollbar*/
::-webkit-scrollbar {
	background-color: #262626;
	width: 10px;
}
::-webkit-scrollbar-thumb {
	background-color: #171717;
	border: 2px solid #525252;
}
::-webkit-scrollbar-thumb:hover {
	border: 2px solid #1d4ed8;
}
/*==================================================*/
/*Thuộc Header*/
.header {
	justify-content: center;
	display: flex;
}
.logo {
	content: url(../image/logo.png);
	height: 45px;
	margin: 5px;
	width: 45px;
}
.headerTitle {
	margin-top: 10px;
	font-family: simpleBattleHeader;
	font-size: 30px;
}
/*==================================================*/
/*Text color/decoration*/
.textLink:link, .textLink:visited {
	color: #3b82f6;
	text-decoration: none;
}
.textLink:hover {
	color: #1d4ed8;
	text-decoration: underline;
}
.textLink:active {
	color: yellow;
	text-decoration: underline;
}
/*==================================================*/
.board {
	margin: 0 5em 0 5em;
}
.lvl1 {
	background-color: #22b14c;
}
.lvl2 {
	background-color: #fff200;
}
.lvl3 {
	background-color: #ed1c24;
}
.lvl0 {
	background-color: #a349a4;
}
.discard {
	background-color: #c8bfe7;
}
.gift {
	background-color: #05e29a;
}
.draw {
	background-color: #c8bfe7;
}
.discardIcon {
	content: url(../image/discardIcon.png);
	height: 80px;
	margin: auto;
	width: 80px;
}
.giftIcon {
	content: url(../image/giftIcon.png);
	height: 80px;
	margin: auto;
	width: 80px;
}
.drawIcon {
	content: url(../image/drawIcon.png);
	height: 100px;
	margin: auto;
	width: 100px;
}
/*==================================================*/