/*==================================================*/
@font-face {
	font-family: simpleBattleHeader;
	src: url(../font/Viner_Hand_ITC.ttf);
}
@font-face {
	font-family: simpleBattleText;
	src: url(../font/MAGIMTOS.ttf);
}
:root {
	--bg-color: #262626;
	scrollbar-color: #171717 var(--bg-color);
}
::-webkit-scrollbar {
	background-color: var(--bg-color);
	width: 10px;
}
::-webkit-scrollbar-thumb {
	background-color: #171717;
	border: 2px solid #525252;
}
::-webkit-scrollbar-thumb:hover {
	border: 2px solid #1d4ed8;
}
body {
	margin: 0;
	background-color: var(--bg-color);
	color: white;
	font-family: sans-serif;
	user-select: none;
}
table {
	border-spacing: 3px;
	font-size: 50px;
	margin-left: 1%;
	text-align: center;
	width: 100%;
}
td {
	border: 3px solid black;
	color: black;
	cursor: pointer;
	font-family: simpleBattleText, fantasy;
	height: 170px;
	width: 300px;
}
td:hover {
	border: 3px solid white;
}
/*==================================================*/
.header {
	display: flex;
	justify-content: center;
}
.logo {
	content: url(../image/logo.png);
	height: 45px;
	margin: 5px;
	width: 45px;
}
.headerTitle {
	margin-top: 10px;
	font-family: simpleBattleHeader, fantasy;
	font-size: 30px;
}
/*==================================================*/
.flex {
	display: flex;
	flex-wrap: wrap;
}
.hand {
	display: flex;
	flex-direction: column;
	margin: 0 auto 0 auto;
}
.margin {
	margin: 0 1% 0 auto;
}
.marginSymbol {
	margin-top: 13px!important;
}
.center {
	margin: auto;
}
.stack {
	margin-top: -220px;
}
.icon {
	height: 80px;
	width: 80px;
}
.symbol {
	height: 60px;
	margin: 2px auto 0 auto;
	width: 60px;
}
.card {
	border: 3px solid black;
	cursor: pointer;
	display: flex;
	flex-wrap: wrap;
	height: 280px;
	width: 200px;
}
.card:hover {
	border: 3px solid white;
	z-index: 1;
}
.giftCard {
	flex-direction: column;
}
.giftCard .symbol {
	margin: 0 0 auto auto;
}
.lvl1 {
	background-color: #22b14c;
}
.lvl2 {
	background-color: #fff200;
}
.lvl3 {
	background-color: #ed1c24;
}
.lvl0 {
	background-color: #a349a4;
}
.discard {
	background-color: #c8bfe7;
}
.gift {
	background-color: #05e29a;
}
.draw {
	background-color: #c8bfe7;
}
.discardIcon {
	content: url(../image/discardIcon.png);
}
.giftIcon {
	content: url(../image/giftIcon.png);
}
.drawIcon {
	content: url(../image/drawIcon.png);
}
.sword {
	content: url(../image/sword.png);
}
.shield {
	content: url(../image/shield.png);
}
.speed {
	content: url(../image/speed.png);
}
.anything {
	content: url(../image/anything.png);
}
.double {
	content: url(../image/double.png);
}
/*==================================================*/